extends layout
block content
    // Button trigger modal
    button#buttonNewTask.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModalHorizontal')
        | Add task for today
    // Modal

    #myModalHorizontal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                // Modal Header
                .modal-header
                    button.close(type='button', data-dismiss='modal')
                        span(aria-hidden='true') ×
                        span.sr-only Close
                    h4#myModalLabel.modal-title
                        | New task
                // Modal Body
                .modal-body
                    .form-group
                        fieldset
                            legend Title
                        .col-10
                            input#titleInput.form-control(type='text', value='')
                    .form-group
                        fieldset
                            legend Date
                        .col-10
                            input#dateInput.form-control(type='date', value='2017-06-19')
                    .form-group
                        fieldset
                            legend Description
                        textarea#descriptionInput.form-control(rows='3')
                // Modal Footer
                .modal-footer
                    button.btn.btn-default#Close(type='button', data-dismiss='modal')
                        | Close
                    button.btn.btn-primary#SaveChangesButton(type='button')
                        | Save changes

    .panel-heading
        span.glyphicon.glyphicon-list
    .list-group
        each val, key in results
            ul.list-group
                li#DocumentsItem.list-group-item(type='button') #{"Title : " + val.Title  + " ,Description : " + val.description + " ,"}
                    .pull-right.action-buttons
                        a#PencilButton(data-toggle='modal', data-target='#myModalHorizontal')
                            span.glyphicon.glyphicon-pencil
                        a#TrashButton.trash(href='http://www.jquery2dotnet.com')
                            span.glyphicon.glyphicon-trash

    .panel-footer
        .row
            .col-md-6
                h6
                    | Total Count
                    span.label.label-info=numbers
            .col-md-6
                ul.pagination.pagination-sm.pull-right
                    li.disabled
                        a(href='javascript:void(0)') «
                    li.active
                        a(href='javascript:void(0)')
                            | 1
                            span.sr-only (current)
                    li
                        a(href='http://www.jquery2dotnet.com') 2
                    li
                        a(href='http://www.jquery2dotnet.com') 3
                    li
                        a(href='http://www.jquery2dotnet.com') 4
                    li
                        a(href='http://www.jquery2dotnet.com') 5
                    li
                        a(href='javascript:void(0)') »

block end
    script(src='/javascripts/current.js')
